@charset "UTF-8";
header {
  display: flex;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-evenly;
  align-items: center; }
  header img {
    padding-right: 30px;
    padding-left: 30px;
    justify-self: stretch; }
  header nav {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: stretch; }
    header nav ul {
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 100;
      display: flex;
      flex-wrap: wrap;
      padding: 10px; }
      header nav ul li {
        list-style-type: none;
        padding: 10px;
        flex-direction: column; }
        header nav ul li a {
          text-decoration: none;
          color: black;
          justify-self: stretch; }
          header nav ul li a:hover {
            color: white;
            background-color: black; }

section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: aliceblue;
  font-family: ´Open Sans´, sans-serif;
  font-weight: bold;
  gap: 10px; }

.section__text__top-left {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  transition: all 5s;
  background-image: linear-gradient(to top, #58582f, olive); }

.section__text__top-right {
  grid-row: 1 / 2;
  grid-column: 3 / 6;
  transition: background-color 5s; }

.section__text__middle-left {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  transition: background-color 5s; }

.section__text__middle-right {
  grid-row: 2 / 3;
  grid-column: 3 / 6;
  background-color: red;
  transition: background-color 5s; }

.section__text__bottom-left {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  background-color: green;
  transition: background-color 5s; }

.section__text__bottom-right {
  grid-row: 3 / 4;
  grid-column: 3 / 6;
  justify-self: stretch;
  transition: background-color 5s; }

footer {
  grid-column: 1 / 6;
  grid-row: 6 / 7;
  align-items: stretch; }
  footer ul {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center; }
    footer ul li {
      list-style-type: none;
      padding: 10px;
      flex-direction: column; }
      footer ul li a {
        text-decoration: none;
        color: black;
        justify-self: stretch; }
        footer ul li a:hover {
          color: white;
          background-color: black; }
