section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    align-items: center;
    text-align: center;
    justify-items: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    gap: 10px;

    .section__text__top-left {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        transition: all 5s;
        background-image: linear-gradient(to top, rgb(88, 88, 47), olive) 
        
        p {
            font-size: xlarge;
        }
    }
    .section__text__top-right {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        transition: background-color 5s;
    }
    .section__text__middle-left {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        transition: background-color 5s; 
    }
    .section__text__middle-right {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        background-color: red;
        transition: background-color 5s; 
    }
    .section__text__bottom-left {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        background-color: green;
        transition: background-color 5s; 
    }
    .section__text__bottom-right {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        justify-self: stretch;
        transition: background-color 5s; 
    }
}