$special-font: ´Open Sans´, sans-serif;

section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    align-items: center;
    text-align: center;
    justify-items: center;
    color: aliceblue;
    font-family: $special-font;
    font-weight: bold;
    gap: 10px;
}

.section__text__top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    transition: all 5s;
    background-image: linear-gradient(to top, rgb(88, 88, 47), olive);
}

.section__text__top-right {
    grid-row: 1 / 2;
    grid-column: 3 / 6;
    transition: background-color 5s;
}

.section__text__middle-left {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    transition: background-color 5s;
}

.section__text__middle-right {
    grid-row: 2 / 3;
    grid-column: 3 / 6;
    background-color: red;
    transition: background-color 5s;
}

.section__text__bottom-left {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: green;
    transition: background-color 5s;
}

.section__text__bottom-right {
    grid-row: 3 / 4;
    grid-column: 3 / 6;
    justify-self: stretch;
    transition: background-color 5s;
}
