header {
    display: flex;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;

    img {
        padding-right: 30px;
        padding-left: 30px;
        justify-self: stretch;
    }

    nav {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        align-items: stretch;

        ul {
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 100;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;

            li {
                list-style-type: none;
                padding: 10px;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: black;
                    justify-self: stretch;

                    &:hover {
                        color: white;
                        background-color: black;
                    }
                }
            }
        }
    }
}